body {
    margin: 0;
    background-color: #0d1117;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Isse content top se dikhega */
    min-height: 100vh; /* height ki jagah min-height use karein */
    padding-top: 50px;
}
